body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

h2 {
    font-size: 22px;
    margin-top: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

p, li {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

.contact {
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

foto-perfil {
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    margin: 20px 0;
}

.foto-perfil img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
